@{
    ViewData["Title"] = "Category Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Category Management</h4>
                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Add Category
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold">
                                        New Category
                                    </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Category Name</label>
                                                <input id="addCategoryName" type="text" class="form-control" placeholder="Fill Category Name">
                                            </div>
                                            <div class="form-group">
                                                <label>Category Description</label>
                                                <input id="addCategoryDescription" type="text" class="form-control" placeholder="Fill Category Description">
                                            </div>
                                            <div class="form-group">
                                                <label>Category Banner</label>
                                                <input id="addCategoryBanner" type="text" class="form-control" placeholder="Fill Category Banner">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer no-bd">
                                <button type="button" onclick="addCategoryButton()" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic-datatables" class="display table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tên thể loại</th>
                                    <th>Miêu tả</th>
                                    <th>Banner</th>
                                    <th>Số lượng truyện</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Category Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="categoryInfo">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        //async function loadData() {
        fetch('http://localhost:5188/api/v1/category')
            .then(response => response.json())
            .then(data => {
                $('#basic-datatables').DataTable({
                    data: data.dt,
                    columns: [
                        { data: 'categoryId' },
                        { data: 'categoryName' },
                        { data: 'categoryDescription' },
                        { 
                            data: 'categoryBanner',
                            render: function (data) {
                                return `<img src="${data}" alt="Category Banner" style="max-width: 300px; height: auto;" />`;
                            }
                        },
                        { data: 'storiesNumber' },
                        {
                            data: null,
                            render(data) {
                                return `<a style="color: blue; cursor: pointer" onclick="openUserInfor(${data.categoryId})"><i class="fas fa-edit"></i></a>`
                            }
                        }
                    ]
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        //}
    });



    async function openUserInfor(categoryId) {
        const response = await fetch(`http://localhost:5188/api/v1/category/${categoryId}`);
        if (response.ok) {
            const category = await response.json();
            console.log(category);
            document.getElementById('categoryInfo').innerHTML = `
                                        <div class="form-group">
                                            <label for="CategoryName">Category Name</label>
                                            <input type="text" class="form-control" id="UpdateCategoryName" value="${category.categoryName}" placeholder="Fullname">
                                        </div>
                                        <div class="form-group">
                                            <label for="Description">Category Description</label>
                                            <input type="text" class="form-control" id="UpdateCategoryDescription" value="${category.categoryDescription}" placeholder="Fullname">
                                        </div>
                                            <div class="form-group">
                                                <label for="Fullname">Category Banneer</label>
                                                <img src="${category.categoryBanner}" alt ="Category Banner" style="max-width: 300px; height: auto;" />
                                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" onclick="UpdateCategoryInfor(${categoryId})" class="btn btn-primary">Save changes</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    `;
        }
        $("#myModal").modal();
    }
    async function UpdateCategoryInfor(categoryId) {
        console.log(categoryId);
        const Id = document.getElementById('UpdateCategoryId');
        const Name = document.getElementById('UpdateCategoryName');
        const Description = document.getElementById('UpdateCategoryDescription');
        const Banner = document.getElementById('UpdateCategoryBanner');
        const item = {
            categoryId: categoryId,
            categoryName: Name.value.trim(),
            categoryDescription: Description.value.trim(),
            categoryBanner: Banner.value.trim()
        }
        console.log(item);
        console.log(`http://localhost:5188/api/v1/category/${parseInt(categoryId, 10)}`);
        fetch(`http://localhost:5188/api/v1/category/${categoryId}`, {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(item)
        }).then(response => response.json())
            .catch(error => console.error('Unable to update item.', error));
        $("#myModal").modal('hide');
        window.location.reload();

    }
    async function addCategoryButton() {
        const Name = document.getElementById('addCategoryName');
        const Description = document.getElementById('addCategoryDescription');
        const Banner = document.getElementById('addCategoryBanner');
        const item = {
            categoryName: Name.value.trim(),
            categoryDescription: Description.value.trim(),
            categoryBanner: Banner.value.trim()
        }
        console.log(item);
        fetch('http://localhost:5188/api/v1/category', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(item)
        }).then(response => response.json())
            .catch(error => console.error('Unable to add item.', error));

        $('#addRowModal').modal('hide');
        window.location.reload();
    }

</script>
