@{
    ViewData["Title"] = "Ticket Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h4 class="page-title">Ticket Management</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatables" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Ticket ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="userInfo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalStatus">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="userStatus">
            </div>
        </div>
    </div>


</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        loadData();
    });

    async function loadData() {
        $('#datatables').DataTable().destroy();
        $.ajax({
            url: 'http://localhost:5188/api/v1/tickets/all_ticket',
            type: 'GET',
        }).done(data => {
            $('#datatables').DataTable({
                data: data.dt.tickets,
                columnDefs: [{ width: '10%', targets: 0 }, { width: '20%', targets: 1 }],
                columns: [
                    { data: 'ticketId' },
                    { data: 'user.username' },
                    { data: 'user.email' },
                    { data: 'ticketDate' },
                    {
                        data: null,
                        render(data) {
                            if (data.status == true) {
                                return `<a class="text-success">Approved</a>`
                            } else if (data.status == false && data.seen == true) {
                                return `<a class="text-info">Awaiting interview</a>`
                            } else if (data.status == false && data.seen == false) {
                                return `<a class="text-warning">Awaiting approval</a>`
                            } else {
                                return `<a class="text-danger">Denied</a>`
                            }
                        }
                    },
                    {
                        data: null,
                        render(data) {
                            return `<a style="cursor: pointer" class="text-primary" onclick="approve(${data.user.userId}, ${data.ticketId})"><i class="far fa-envelope"></i></a>
                                            <a style="cursor: pointer" class="text-success ml-1" onclick="approve(${data.user.userId}, ${data.ticketId})"><i class="fas fa-ban"></i></a>
                                            <a style="cursor: pointer" class="text-danger ml-1" onclick="deny(${data.user.userId}, ${data.ticketId})"><i class="fas fa-check-circle"></i></a>`
                        }
                    }
                ]
            })
        }).fail(error => {
            console.error('Error fetching data:', error);
        });
    }

    async function approve(userId, ticketId) {
        $.ajax({
            url: 'http://localhost:5188/api/v1/Tickets/approve',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({
                ticketId: ticketId
            })
        }).done(data => {
            var title = data.em;
            $.notify({
                title: title,
                icon: 'fa fa-bell'
            }, {
                type: data.ec == 0 ? 'success' : 'danger',
                placement: {
                    from: "bottom",
                    align: "right"
                },
                delay: 3000,
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '</div>'
            });
            if (data.ec == 0) {
                loadData();
            }
        }).fail(error => {
            console.error('Error :', error);
        });
    }

    async function deny(userId, ticketId) {
        $.ajax({
            url: 'http://localhost:5188/api/v1/Tickets/deny',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify({
                ticketId: ticketId
            })
        }).done(data => {
            var title = data.em;
            $.notify({
                title: title,
                icon: 'fa fa-bell'
            }, {
                type: data.ec == 0 ? 'success' : 'danger',
                placement: {
                    from: "bottom",
                    align: "right"
                },
                delay: 3000,
                template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '</div>'
            });
            if (data.ec == 0) {
                loadData();
            }
        }).fail(error => {
            console.error('Error :', error);
        });
    }

</script>