@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h4 class="page-title">Transaction Management</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">

                <ul class="nav nav-pills nav-primary">
                    <li class="nav-item"><div id="transaction" class="nav-link">Transaction</div></li>
                    <li class="nav-item"><div id="request" class="nav-link">Refund Request</div></li>
                </ul>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table id="basic-datatables" class="display table table-head-bg-primary table-hover">
                    </table>
                </div>
                <div id="form" class="form-group form-inline">
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Category Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="categoryInfo">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/write-excel-file@1.x/bundle/write-excel-file.min.js"></script>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        $('#nav-menu li').removeClass("active");
        $('#nav-transaction').addClass("active");
        loadTransaction()
    });

    var loadTransaction = () => {
        $('#transaction').addClass('active');
        $('.loader-container').show();
        $.ajax({
            url: `http://localhost:5188/api/v1/transaction/admin_history`,
            type: "GET",
            headers: {
                "Content-Type": "application/json",
            },
            success: (data) => {
                // $('#form').empty().append(`<div class="input-group">
                //                 <div class="input-group-prepend">
                //                 <span class="input-group-text" id="basic-addon3">From</span>
                //                 </div>
                //                 <input type="date" class="form-control" id="fromDate" aria-describedby="basic-addon3">
                //                 </div>
                //                 <div class="input-group ml-4">
                //                 <div class="input-group-prepend">
                //                 <span class="input-group-text" id="basic-addon3">To</span>
                //                 </div>
                //                 <input type="date" class="form-control" id="toDate" aria-describedby="basic-addon3">
                //             </div>
                //             <button id="exportBtn" class="btn btn-primary">Export</button>`);
                $('.loader-container').hide();
                $('#form').empty().append('');
                if ($.fn.DataTable.isDataTable('#basic-datatables')) {
                    $('#basic-datatables').DataTable().destroy();
                }
                $('#basic-datatables').empty().append(`
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th></th>
                                                                                        <th>TransactionNum</th>
                                                                                        <th>Amount</th>
                                                                                        <th>TransactionTime</th>
                                                                                        <th>Description</th>
                                                                                    </tr>
                                                                                </thead>`);

                $('#basic-datatables').DataTable({
                    data: data.dt,
                    columns: [
                        {
                            data: null,
                            render(data) {
                                if (data.refundAfter < data.refundBefore)
                                    return `<i class="fas fa-caret-square-down" style="color:#f25961"></i>`
                                else return `<i class="fas fa-caret-square-up" style="color:#31ce36"></i>`
                            }
                        },
                        { data: 'transactionId' },
                        {
                            data: 'amount',
                            render: function (data) {
                                return data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                            }
                        },
                        { data: 'transactionTime' },
                        { data: 'description' }
                    ],
                    order: [[1, 'desc']],
                    // rowCallback: function (row, data) {
                    //     if (data.refundAfter < data.refundBefore)
                    //         $(row).css('background-color', '#f25961');
                    //     else $(row).css('background-color', '#31ce36')
                    //     }
                });
                // $('#basic-datatables').DataTable().clear().rows.add(data.dt).draw();
            },
            error: () => {
                $('.loader-container').hide();
                console.error('Error fetching data:', error)
            },
        });
    }

    $('#transaction').click(function () {
        $('#request').removeClass('active');
        loadTransaction()
    });

    $('#request').click(function () {
        $('#transaction').removeClass('active');
        $('#request').addClass('active');
        loadRefund()
    });

    var loadRefund = () => {
        $.ajax({
            url: `http://localhost:5188/api/v1/tickets/refunds`,
            type: "GET",
            headers: {
                "Content-Type": "application/json",
            },
            success: (data) => {
                $('#form').empty().append(`<p>
                                                                                    <button id="exportRefund" onClick="exportData()" class="btn btn-primary">Export</button>
                                                                                    <button id="approveRefund" onClick="approve()" class="btn btn-success">Approve</button>
                                                                                    </p>
                                                                    `);

                if ($.fn.DataTable.isDataTable('#basic-datatables')) {
                    $('#basic-datatables').DataTable().destroy();
                }
                $('#basic-datatables').empty().append(`
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>RequestNum</th>
                                                                                                <th>UserRequest</th>
                                                                                                <th>Bank</th>
                                                                                                <th>BankNum</th>
                                                                                                <th>Amount</th>
                                                                                                <th>TransactionTime</th>
                                                                                                <th>Status</th>
                                                                                            </tr>
                                                                                        </thead>`);

                $('#basic-datatables').DataTable({
                    data: data.dt,
                    columns: [
                        { data: 'requestId' },
                        { data: 'userFullname' },
                        { data: 'bankId' },
                        { data: 'bankAccount' },
                        {
                            data: 'amount',
                            render: function (data) {
                                return data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                            }
                        },
                        { data: 'requestTime' },
                        {
                            data: null,
                            render(data) {
                                if (data.responseTime == null)
                                    return `Pending`
                                else return `In Progress`
                            }
                        },
                    ],
                    order: [[0, 'asc']],
                });
            },
            error: () => console.error('Error fetching data:', error),
        });
    }

    // $('#exportBtn').click(function () {
    //     var fromDate = $('#fromDate').val();
    //     var toDate = $('#toDate').val();

    //     exportToExcel(fromDate, toDate);
    // });
    // function exportToExcel(fromDate, toDate) {
    //     window.location.href = `http:localhost:5188/api/v1/transaction/ExportOrdersToExcel?fromDate=${fromDate}&toDate=${toDate}`;
    // }

    var check

    var notify = (type, title) => {
        $.notify({
            title: title,
            icon: 'fa fa-bell'
        }, {
            type: type,
            placement: {
                from: "bottom",
                align: "right"
            },
            delay: 3000,
            template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                '<span data-notify="icon"></span> ' +
                '<span data-notify="title">{1}</span> ' +
                '</div>'
        });
    }

    var exportData = () => {
        $.ajax({
            url: `http://localhost:5188/api/v1/tickets/refund_export`,
            type: "GET",
            headers: {
                "Content-Type": "application/json",
            },
            success: (data) => {
                if (data.ec == 0) {
                    notify('success', data.em)
                    exportExcel(data.dt); loadRefund()
                } else notify('danger', data.em);
            },
            error: () => console.error('Error fetching data:', error),
        });
    }

    var approve = () => {
        $.ajax({
            url: `http://localhost:5188/api/v1/tickets/refund_approve`,
            type: "PUT",
            headers: {
                "Content-Type": "application/json",
            },
            success: (data) => {
                if (data.ec == 0) {
                    $('#request').removeClass('active');
                    notify('success', data.em)
                    loadTransaction();
                } else notify('danger', data.em);
            },
            error: () => console.error('Error fetching data:', error),
        });
    }

    // var exportData = () => {
    //     fetch('http:localhost:5188/api/v1/tickets/refund_export2')
    //         .then(response => response.blob())
    //         .then(blob => {
    //             Create a URL object from the blob data
    //             var url = window.URL.createObjectURL(blob);

    //             Create a hidden anchor element
    //             var downloadLink = document.createElement('a');

    //             Set the href attribute to the generated URL
    //             downloadLink.href = url;

    //             Set the download attribute to specify the filename
    //             downloadLink.download = 'Refund_Request.xlsx';

    //             Append the anchor element to the body
    //             document.body.appendChild(downloadLink);

    //             Trigger a click event on the anchor element
    //             downloadLink.click();

    //             Remove the anchor element from the body
    //             document.body.removeChild(downloadLink);

    //             Release the object URL to free up resources
    //             window.URL.revokeObjectURL(url);
    //         })
    //         .catch(error => console.error('Error fetching data:', error));
    // }



    var exportExcel = (formal) => {
        var header = [
            {
                type: String,
                value: 'User Full Name',
                fontWeight: 'bold'
            },
            {
                type: String,
                value: 'Bank Code',
                fontWeight: 'bold'
            },
            {
                type: String,
                value: 'Bank Number',
                fontWeight: 'bold'
            },
            {
                type: String,
                value: 'Amount',
                fontWeight: 'bold'
            },
            {
                type: String,
                value: 'Request Time',
                fontWeight: 'bold'
            }
        ];
        var arrayOfArrays = formal.map(item => [
            {
                type: String,
                value: item.userFullname,
            },
            {
                type: String,
                value: item.bankId,
            },
            {
                type: String,
                value: item.bankAccount,
            },
            {
                type: String,
                value: item.amount,
            },
            {
                type: String,
                value: item.requestTime,
            }
            // item.examAnswers.map(answer => answer.rightRightAnswer)
        ]);

        arrayOfArrays.unshift(header);
        check = arrayOfArrays;
        writeXlsxFile(arrayOfArrays, {
            fileName: 'Refund_Quest.xlsx'
        })
    }




    // function loadPage(pageName) {

    //     Use jQuery to load content from the server
    //     $.get(`${pageName}.html`, function () {
    //         Replace the content of the #content div with the loaded data

    //         $('#basic-datatables').DataTable();
    //     });
    // }
</script>
